---
title: Home
layout: default
---

<h2>Posts by Date</h2>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      {{ post.title }}
      <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
    </a>
  </li>
  {% endfor %}
</ul>

<h2>Posts by Tag</h2>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
{% assign t = tag | first %}
{% assign posts = tag | last %}
<h4>{{ t }}</h4>
<ul>
  {% for post in posts %}
  {% if post.tags contains t %}
  <li style="list-style-type: none;">
    <a href="{{ post.url | relative_url }}">
      {{ post.title }}
      <span class="date">{{ post.date | date: "%b %d, %Y" }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
