html {
  margin: 0 2rem 10rem 2rem;

  font-family: 'Vollkorn', serif;
  font-size: 2.5vw;
  line-height: 1.35em;
  font-variant-numeric: oldstyle-nums;

  background-color: #fcfaf4;
  color: #121212;

  text-align: justify;
  hyphens: auto;
}

@media all and (min-width: 1000px) { html { font-size: 25px; } body { max-width: 1000px; } }

p {
  margin: 0 0 0.8em 0;
}
