:root {
  --bg: #fcfaf4;
  --fg: #121212;
  --h: #282828;
  --deco: #afafaf;
  --highlight: #efeadc;
  --highlight-dark: #dbd0b0;

  margin: 0 2rem 10rem;

  background-color: var(--bg);
  color: var(--fg);

  font-family: Vollkorn, serif;
  font-size: 2.4vw;
  line-height: 1.4em;
  font-variant-numeric: oldstyle-nums;

  text-align: justify;
  hyphens: auto;
}

@media all and (width >= 1000px) {
  :root { font-size: 24px; }
  body { max-width: 1000px; }
}

@media all and (width <= 520px) { :root { font-size: 18px; } }

.pagenav {
  margin: 2rem 0;

  color: var(--deco);

  font-family: "Vollkorn SC", serif;
  font-size: 3.7rem;
  line-height: 1em;
  text-transform: lowercase;

  text-align: center;
}

.img-scaler, img {
  display: block;
  max-height: 45vh;
  max-width: 80vw;
  margin: 0 auto;
}

.table-scroller {
  overflow: auto;
  white-space: nowrap;
}

table {
  width: 100%;
  margin: 0.2rem auto 1rem;
  border-collapse: collapse;

  font-family: "Encode Sans", sans-serif;
}

th {
  padding: 0.2rem 0.4rem;
  border-bottom: 3px solid var(--h);

  color: var(--h);

  font-weight: 700;
  line-height: 1.45em;
  font-variant-numeric: tabular-nums;
}

td {
  padding: 0.2rem 0.4rem;

  font-weight: 400;
  line-height: 1.45em;
  font-variant-numeric: tabular-nums;
}

td + td { border-left: 3px solid var(--h); }
tbody > tr:nth-child(odd) { background-color: var(--highlight); }

.date { color: var(--deco); }

.tags { margin: 2rem 0; }

p { margin: 0 0 0.8rem; }

h1, h2, h3, h4 {
  color: var(--h);

  line-height: 1em;

  hyphens: none;
  text-align: left;
}

h1 {
  margin: 0 0 0.8rem;

  font-family: "Grenze Gotisch", fantasy;
  font-size: 3rem;
  font-weight: 900;
}

h2, h3, h4 {
  margin: 1.5rem 0 0.5rem;

  font-family: "Encode Sans SC", sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.25em;
}

h2 { font-size: 1.5rem; }
h3 { font-size: 1.1rem; }

h4 {
  font-size: 1rem;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  text-transform: lowercase;
}

ul, ol, dl {
  margin: 0 0 0.8rem;
  padding: 0;
}

ul ul, ul ol, ul dl, ol ul, ol ol, ol dl, dl ul, dl ol, dl dl, table ul, table ol, table dl { margin: 0; }
ul > li::marker { font-family: Vollkorn, serif; }
table ul > li::marker { font-family: "Encode Sans", sans-serif; }

li {
  margin: 0 0 0 0.5rem;
  padding: 0 0 0 0.25rem;
}

ul > li { list-style-type: disc; }

blockquote {
  margin: 0 0 0.8rem 0.8rem;
  font-style: italic;
}

blockquote em { font-style: normal; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Vollkorn SC", serif;
  text-transform: lowercase;
}

table a {
  font-family: "Encode Sans SC", sans-serif;
  letter-spacing: 0.04em;
}

a:hover {
  background-color: var(--highlight-dark);
  transition-property: background;
  transition-duration: 0.2s;
}

