<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Logaine Lorestar | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ "/resource/img/ico.png" | relative_url }}"
      type="image/png"
    />
    <link rel="stylesheet" href="{{ "/resource/style/font.css" | relative_url }}" />
    <link rel="stylesheet" href="{{ "/resource/style/main.css" | relative_url }}" />
  </head>
  <body>
    <div class="pagenav"><a href="{{ site.baseurl }}">Logaine Lorestar</a></div>
    {{ content }}
    <script src="{{ "/resource/script/fit-elements.js" | relative_url }}"></script>
  </body>
</html>
