<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Logaine Lorestar | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ site.baseurl }}/res/ico.png"
      type="image/png"
    />
    <link rel="stylesheet" href="{{ site.baseurl }}/res/main.css" />
  </head>
  <body>
    <a class="pagenav" href="{{ site.baseurl }}">Logaine Lorestar</a>
    {{ content }}
    <script src="{{ site.baseurl }}/res/fit-elements.js"></script>
  </body>
</html>
