html {
  margin: 0 2rem 10rem 2rem;

  font-family: 'Vollkorn', serif;
  font-size: 2.5vw;
  line-height: 1.4em;
  font-variant-numeric: oldstyle-nums;

  background-color: #fcfaf4;
  color: #121212;

  text-align: justify;
  hyphens: auto;
}

@media all and (min-width: 1000px) { html { font-size: 25px; } body { max-width: 1000px; } }

@media all and (max-width: 520px) { html { font-size: 18px; } }

.pagenav {
  margin: 2rem 0 2rem 0;

  font-family: 'Vollkorn SC', serif;
  font-size: 3.7rem;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;

  color: #afafaf;
}

p {
  margin: 0 0 0.8rem 0;
}

blockquote {
  margin: 0 0 0.8rem 0.8rem;
  font-style: italic;
}

blockquote>em {
  font-style: normal;
}

h1, h2, h3 {
  line-height: 1em;

  color: #323232;

  hyphens: none;
  text-align: left;
}

h1 {
  margin: 0 0 0.8rem 0;

  font-family: 'Grenze Gotisch', serif;
  font-size: 4rem;
  font-weight: 900;
}

h2, h3 {
  margin: 1.5rem 0 0.5rem 0;

  font-family: 'Encode Sans SC', sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1.25em;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Vollkorn SC', serif;
  text-transform: lowercase;
}

th>a, td>a {
  font-family: 'Encode Sans SC', sans;
}

a:hover {
  background-color: #FAEBEC;
  transition-property: background;
  transition-duration: 0.2s;
}

.date {
  color: #868686;
}

.img-scaler, img {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 0 auto;
}

.tags {
  margin: 2rem 0 2rem 0;
}

.table-scroller {
  overflow: auto;
  white-space: nowrap;
}

table {
  margin: 0.2rem auto 1rem auto;
  border-collapse: collapse;
}

th {
  font-family: 'Encode Sans', sans;
  font-weight: 700;
  line-height: 1.45em;

  font-variant-numeric: tabular-nums;

  padding: 0.2rem 0.4rem;

  border-bottom: 3px solid #323232;
}

td {
  font-family: 'Encode Sans', sans;
  font-weight: 400;
  line-height: 1.45em;

  font-variant-numeric: tabular-nums;

  padding: 0.2rem 0.4rem;
}

td+td {
  border-left: 3px solid #323232;
}

tbody>tr:nth-child(odd) {
  background-color: #EFEADC;
}
